@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title> RegisterOK </title>
</head>
<body>
    <div class="jumbotron">
        Tebrikler kayıdınız başarıyla gerçekleşmiştir.
    </div>
</body>
</html>

<script>

    $(function () {
        setTimeout(function () {

            window.location = "/Register/RegisterNow";

        },5000)
    })


</script>
