@{
    Layout = null;
}
<!DOCTYPE html>
<html>

    <h2> Admin Kontrol paneline hoşgeldin!</h2>
<body>
    <div class="align-content-xl-center">
        <table>
            <h3 style="border-bottom" class="text-center"> Kategori sayfasına gitmek için</h3>

            <a href="http://localhost:5017/Admin/Category/ListCategories"> tıklayınız.</a>
        </table>
    </div>
    <br />
    <br />

    <div class="align-content-xl-center">
        <table>
            <h3 style="border-bottom" class="text-center">Ürün sayfasına gitmek için</h3>
            <a href="http://localhost:5017/Admin/Product/ListProducts"> tıklayınız.</a>
        </table>
    </div>
    <br />
    <br />

  
</body>
</html>